body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#f8f9fa;  
    font-family: 'Arial';  
}
.container
{
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.container input[type=text], input[type=password], input[type=number], select
{
    width: 100%;
    height: 50px;
    border: 1px solid #c5c7ca;
    border-radius: 10px;
    padding-left: 8px;
    font-size: 20px;
}
.container input[type=submit]
{
    border: 1px solid #c5c7ca;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.column
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.forms
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.logo
{
    text-align: center;
    width: 100%;
}
.grid-container
{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 20px;
}
.grid-item
{
    background-color: #f8f9fa;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.grid-item:hover
{
    background-color: #6097cd;
    color: #fff;
}
.btn
{
    border: 1px solid #c5c7ca;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}
.btn-wrap
{
    border: 1px solid #c5c7ca;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
.table
{
    display: table;
    width: 100%;
}
.table-cell-nav-left
{
    display: table-cell;
    padding: 10px;
    text-align: left;
}
.table-cell-nav-right
{
    display: table-cell;
    padding: 10px;
    text-align: right;
}
.table-cell-nav-bar
{
    display: table-cell;
    padding: 10px;
    text-align: right;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.table-cell-nav-bar:hover
{
    background-color: #555;
}
.table-cell
{
    display: table-cell;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d5dee7;
}
.table-cell-head
{
    display: table-cell;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d5dee7;
    font-weight: bold;
}
.table-cell-button
{
    display: table-cell;
    padding: 10px;
    text-align: right;
    width: 30px;
    border-bottom: 1px solid #d5dee7;
}
.table-row
{
    display: table-row;
}
.table-cell-down
{
    display: table-cell;
    padding: 10px;
    text-align: right;
    border-bottom: 2px solid #6AC238;
}
.table-row-down
{
    display: table-row;
}
.header-sub-menu
{
    border-radius: 5px;
    background-color: #5c91d3;
}
.header-sub-menu img
{
    width: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  
}
.overlay-hidden {
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* color button prim */
.primary
{
    color: #fff;
    background-color: #0f6cbf;
    border-color: #0f6cbf;
}
.redlit
{
    color: #fff;
    background-color: #E97451;
    border-color: #E97451;
}
.greenie
{
    color: #fff;
    background-color: #6AC238;
    border-color: #6AC238;
}